@import "tailwindcss";

:root {
  --bs-primary: rgba(255, 186, 0, 1);
  --bs-second: rgba(255, 250, 246, 1);
  --bs-third: rgba(34, 36, 48, 1);
  --bs-fourth: rgba(46, 48, 46, 1);
  --bs-main-font: 'Roboto Mono', monospace;
  --bs-font: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: var(--bs-main-font);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--bs-second);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.primary-bg-color {
  background-color: var(--bs-primary);
}
.text-default-style {
  color: var(--bs-fourth);
  font-family: var(--bs-main-font);
  font-size: 18px;
  font-weight: 400;
}
.text-secondary-style {
  opacity: 0.6;
  color: var(--bs-fourth);
  font-family: var(--bs-main-font);
  font-size: 12px;
  font-weight: 700;
  font-style: bold;
  text-transform: uppercase;
}
.text-small-style {
  color: rgba(0, 38, 87, 1);
  font-family: var(--bs-font);
  font-size: 15px;
  font-weight: 600;
  font-style: semibold;
  letter-spacing: -0.09px;
}
.comment-text {
  color: rgba(67, 76, 108, 1);
  font-family: var(--bs-main-font);
  font-size: 16px;
  font-weight: 400;
  min-height: 114px;
}
.comment-text2 {
  opacity: 0.7;
  color: rgba(67, 76, 108, 1);
  font-family: var(--bs-main-font);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.comment-title {
  color: rgba(255, 186, 0, 1);
  font-family: var(--bs-main-font);
  font-size: 18px;
  font-weight: 400;
}
.boxes-comment {
  width: 54px;
  height: 54px;
}
.tfix-w {
  width: 350px;
}
.tfix-w.t-left {
  margin-left: 36%;
}
.tfix-w.t-img {
  margin-left: 31%;
}
.text-third-style {
  font-family: var(--bs-font);
  font-size: 50px;
  font-weight: 900;
  font-style: black;
  letter-spacing: -0.83px;
  text-transform: uppercase;
  line-height: 48px;
}
.top-header {
  background-color: var(--bs-primary);
  height: 27px;
}
.main-header {
  background: var(--bs-second);
}
.get-statrted {
  width: 201px;
  height: 46px;
  border-radius: 35px;
  background-color: var(--bs-third);
  cursor: pointer;
}
.cart-icon {
  width: 36.52px;
}
.hero-section {
  width: 100%;
  height: 757px;
  background: linear-gradient( 232deg ,  0% rgba(70, 78, 112, 1) ,  100% rgba(32, 55, 70, 1) );
}

.hero-title {
  width: 670px;
  color: var(--bs-second);
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 64px;
  font-weight: 900;
  font-style: black;
  letter-spacing: -1.07px;
  text-transform: uppercase;
  line-height: 45px;
}
.hero-title span {
  font-size: 64px;
  font-weight: 900;
}
.try-today-btn {
  width: 314px;
  height: 56px;
  border-radius: 35px;
  background-color: var(--bs-primary);
  cursor: pointer;
}
.hero-image {
  position: relative;
  top: 44px;
  right: 13%;
  width: 100%;
}
.top-head-second {
  width: 100%;
  height: 57px;
  border-radius: 28.5px;
  background-color: var(--bs-primary);
}
.top-head-second .p-header-sec {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  color: var(--bs-third);
  line-height: 58px;
}
.second-text-section {
  font-size: 80px;
  line-height: 70px;
  font-weight: 900;
  letter-spacing: -1.33px;
  text-transform: uppercase;
  font-family: var(--bs-font);
}
.third-text-section {
  width: 197px;
  color: var(--bs-fourth);
  font-family: var(--bs-main-font);
  font-size: 18px;
  font-weight: 400;
}
.third-image {
  width: 135px;
  height: 135px;
}
.third-container-sec {
  width: 100%;
  height: 282px;
  border-radius: 52px;
  background-color: rgba(255, 255, 255, 1);
}
.third-container-sec .flex-row {
  flex-direction: row;
  align-items: center;
}
.small-text-forth {
  color: rgba(46, 48, 46, 1);
  font-family: var(--bs-main-font);
  font-size: 18px;
  font-weight: 400;
}
.abs-2 {
  color: rgba(46, 48, 46, 1);
  font-family: var(--bs-font);
  font-size: 80px;
  font-weight: 900;
  font-style: black;
  letter-spacing: -1.33px;
  text-align: center;
  line-height: 52px;
  text-transform: uppercase;
}
.pics {
  width: 100%;
}
.img-circle {
  top: 6%;
  left: 10%;
}
.image-section .text-left {
  width: 225.73px;
}
.image-section .flex.flex-col {
  width: 332.6px;
}
.text-header-fifth {
  color: rgba(46, 48, 46, 1);
  font-family: var(--bs-font);
  font-size: 50px;
  font-weight: 900;
  font-style: black;
  letter-spacing: -0.83px;
  text-align: center;
  line-height: 52px;
  text-transform: uppercase;
}
.text-header-fifth-text {
  width: 702px;
  color: rgba(46, 48, 46, 1);
  font-family: var(--bs-main-font);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  margin: 0 auto;
}
.text-header-fifth-text-2 {
  width: 592px;
  color: rgba(239, 247, 250, 1);
  font-family: var(--bs-font);
  font-size: 50px;
  font-weight: 900;
  font-style: black;
  letter-spacing: -0.83px;
  text-transform: uppercase;
  position: absolute;
  top: 31%;
  right: 7%;
}

.header-text-sixth {
  color: var(--bs-fourth);
  font-family: var(--bs-font);
  font-size: 50px;
  font-weight: 900;
  font-style: black;
  letter-spacing: -0.83px;
  text-transform: uppercase;
  line-height: 48px;
}
.benefit-title {
  height: 60px;
  color: var(--bs-fourth);
}
.marquee {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
.nineth-bg-section {
  background-color: rgba(41, 42, 53, 1);
}
.video-card {
  height: 558px;
}
.fans-say-video {
  height: 100%;
  max-width: unset;
}
footer {
  background-color: rgba(34, 36, 48, 1);
}
.footer-container h2 {
  color: rgba(245, 254, 255, 1);
  font-family: var(--bs-font);
  font-size: 21px;
  font-weight: 700;
  font-style: bold;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
.footer-container .h2-small-text {
  color: rgba(239, 247, 250, 1);
  font-family: var(--bs-main-font);
  font-size: 14px;
  font-weight: 400;
}
.social-media img {
  width: 51.1px;
  height: 51.1px;
}
.footer-container h3 {
  color: rgba(245, 254, 255, 1);
  font-family: var(--bs-font);
  font-size: 21px;
  font-weight: 700;
  font-style: bold;
  letter-spacing: -0.3px;
  text-transform: uppercase;  
}
.footer-links ul li a {
  opacity: 0.4;
  color: rgba(239, 247, 250, 1);
  font-family: var(--bs-main-font);
  font-size: 14px;
  font-weight: 400;  
}
.footer-statement {
  width: 300px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 17px;
  opacity: 0.5;
  padding: 10px;
  color: #fff;
  font-size: 11px;
}
.button-dt {
  padding: 10px;
  border-radius: 0;
  top: 6px;
  right: 6px;
}